.orgsCard {
	color: var(--secondary-accent-dark);
}

.orgsCard li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	list-style: none;
	font-size: 1rem;
	font-weight: 500;
	margin: 0.5rem;
	border-radius: 24px;
	background: rgb(87, 162, 167);
	background: rgb(77, 145, 162);
	background: radial-gradient(
		circle,
		rgba(77, 145, 162, 1) 0%,
		rgba(65, 124, 139, 1) 86%
	);
	/* background-color: hsla(192, 36%, 40%, 1); */
	color: white;
	width: 450px;
	padding: 1rem;
	line-height: 1.6;
	min-height: 270px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
		rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.orgsCard li p:first-child {
	font-size: 1.3rem;
	font-weight: 700;
}

.orgsCard .btnContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 3rem;
	cursor: pointer;
}

.orgsCard li button {
	padding: 0.4rem;
	background-color: hsla(22, 86%, 57%, 0.85);
	border-color: hsla(22, 84%, 57%, 0.9);
	border-radius: 4px;
	width: 150px;
	color: white;
	font-size: 1.2rem;
	transition: ease-out 0.3s;
	cursor: pointer;
}

.orgsCard li button:hover {
	background-color: hsla(22, 86%, 57%, 0.8);
	border-color: hsla(22, 84%, 57%, 0.6);

	/* background-color: transparent; */
	/* border: 2px white solid; */

	/* background-color: lightgray; */
	/* transform: scale(1.1); */
}
