.requestCard {
	color: var(--secondary-accent-dark);
}

.requestCard li {
	list-style: none;
	font-size: 1rem;
	font-weight: 500;
	margin: 0.5rem;
	background-color: white;
	width: 300px;
	border-radius: 24px;
	/* padding: 1rem; */
	line-height: 1.5;
	min-height: 250px;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.requestCard .titleBar {
	background: linear-gradient(
		rgba(65, 124, 139, 1) 0%,
		rgba(77, 145, 162, 1) 86%
	);
	padding: 1rem;
	text-align: center;
	border-top-left-radius: 24px;
	border-top-right-radius: 24px;
}

.requestCard span {
	font-weight: bold;
}

.requestCard p {
	padding-left: 1rem;
	font-size: 1.1rem;
}

.requestCard li p:first-child {
	font-size: 1.1rem;
	font-weight: 700;
	padding: 0;
	color: white;
}

.requestCard .buttonContainer {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 1rem;
	margin-top: 0.5rem;
}

.requestCard .decline {
	background-color: hsl(0, 66%, 51%);
}

.requestCard .decline:hover {
	background-color: hsl(0, 66%, 58%);
}

.requestCard .accept {
	background-color: hsl(160, 70%, 30%);
}

.requestCard .accept:hover {
	background-color: hsl(160, 70%, 35%);
}
