.requestContainer {
	width: 100%;
	display: flex;
	justify-content: center;
}

.requestGrid {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(3, 1fr);
	width: 100%;
	/* margin: 0 auto; */
}

.pagination {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}

.pagination a {
	padding: 9px;
	margin: 6px;
	border-radius: 4px;
	background-color: hsla(192, 36%, 40%, 0.15);
}

.active a {
	background-color: hsla(192, 36%, 40%, 0.45);
}

@media screen and (max-width: 1050px) {
	/* .volBoard .orgCard {
		margin: 0 auto;
		width: 100%;
	} */

	.requestGrid {
		row-gap: 1.5rem;
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 766px) {
	.requestGrid {
		row-gap: 1.5rem;
		grid-template-columns: repeat(1, 1fr);
	}
}
