.volRequest {
	/* background-color: var(--overlay); */
	color: #fff;
	height: 100;
	width: 100%;
	position: relative;
}

.volRequest h3 {
	color: var(--nav-color);
	margin-bottom: 0.8rem;
}

.volRequest .content {
	height: 100%;
	display: flex;
	flex-direction: column;
	padding-top: 15rem;
	/* justify-content: center; */
	max-width: 1200px;
	margin: auto;
	padding: 1rem;
}

.volRequest .main {
	margin-top: 5rem;
	background-color: var(--accent-color);
	padding: 1rem;
	border-radius: 20px;
	border: 4px var(--primary-color) solid;
	min-height: 30rem;
}

.volCast .orgCard {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.volCast ol {
	display: grid;
	column-gap: 5rem;
	row-gap: 3rem;
	grid-template-columns: repeat(2, 1fr);
}

/* .orgsCard {
	color: var(--secondary-accent-dark);
}

.orgsCard li {
	list-style: none;
	font-size: 1rem;
	font-weight: 500;
	margin: 0.5rem;
	background-color: white;
	width: 450px;
	padding: 1rem;
	line-height: 1.5;
	min-height: 270px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.orgsCard li p:first-child {
	font-size: 1.3rem;
	font-weight: 700;
}

.orgsCard .btnContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 3rem;
}

.orgsCard li button {
	padding: 1rem;
	background-color: var(--secondary-color);
	border: none;
	width: 150px;
	color: white;
	font-size: 1.2rem;
	transition: transform 0.3s;
	cursor: pointer;
}

.orgsCard li button:hover {
	transform: scale(1.1);
}
 */
